@media screen and (min-width : 600px){
  .inner{
    width : 1700px;
    margin : auto;
    height : 100%;
  }
  header .side-menu ul{
    justify-content: center;
  }
  /*main-visual-area*/
  #main-visual-area .slide-list li{
    margin : 0;
    height : 100vh;
  }
  #main-visual-area li img{
    height : 100vh;
  }
  #main-visual-area .txt-container .main-tlt{
    margin-bottom : 40px;
    font-size : 48px;
  }
  #main-visual-area .txt-container .sub-txt{
    font-size : 30px;
  }
  .slide-controls img{
    width : 50px;
  }
  .slide-controls button#prev-btn{
    left : 90px;
  }
  .slide-controls button#next-btn{
    right : 90px;
  }
  .control-group{
    display : flex;
  }
  .pause-btn{
    display : block;
  }
  /*sect01*/
  #sect01{
    height : 100vh;
  }
  #sect01 .left{
    position :absolute;
    width : 50vw;
    padding : 100px;
  }
  #sect01 .right{
    position : absolute;
    right : -10%;
    transition : all 1s;
    opacity : 0;
    width : 56vw;
    overflow : hidden;
    height : 100%;
    padding : 0;
  }
  #sect01 .right.on{
    right : -5%;
    opacity : 1;
  }
  #sect01 .right img{
    position : absolute;
    height : 500px;
    top : 50%;
    transform : translate(0,-50%);
  }
  #sect01 .right img:nth-child(2){
    right : 20%;
  }
  .num{
    font-size : 100px;
  }
  #sect01 .txt-container .main-tlt{
    font-size : 30px;
    margin-bottom : 30px;
  }
  #sect01 .txt-container .sub-txt{
    font-size : 18px;
    font-weight: 300;
  }
  .relation-icons li{
    margin-right : 13px;
  }
  .relation-icons li img{
    width : 56px;
    height : auto;
  }
  /*sect02*/
  #sect02{
    height : 100vh;
  }
  #sect02 .left{
    left : -100px;
    top : 50%;
    transform : translate(0, -50%);
    display : flex;
    justify-content: flex-start;
    align-items: flex-end;
    opacity: 0;
    transition : all 1s;
    height : 100%;
    width : 50%;
    z-index :2;
    height : 100vh;
  }
  #sect02 .right{
    position : absolute;
    right : 0px;
    width :60%;
    padding : 100px;
    height : 100vh;
  }
  #sect02 img{
    width : 800px;
    height : auto;
    margin-left : 80px;
    position :absolute;
    top : 25%;
  }
  #sect02 .txt-container{
    position :absolute;
    left : 36%;
    bottom : 150px;
    width : 50%;
  }
  #sect02 .txt-container .main-tlt{
    font-size : 30px;
    margin-bottom : 30px;
  }
  #sect02 .txt-container .sub-txt{
    font-size : 18px;
  }
}